PORT=3001
MODE=DEV
LEVEL=DEBUG
SERVICE_NAME=invest-project
ENVIRONMENT=local


DB_HOST=127.0.0.1
DB_PORT=5435
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=invest
SSL_MODE=disable
RDBMS=postgres
MAX_CONN_IDLE_TIME=10
MAX_CONN_LIFE_TIME=30
MAX_CONNS=10

LOG_LEVEL=debug
LOG_MAX_SIZE=10
LOG_MAX_AGE=30
LOG_MAX_BACKUPS=5
LOG_COMPRESS=true


CACHE_HOST=test
CACHE_HOST=6381